In [6]:
SELECT NEV,EMAIL
FROM Vendeg
WHERE YEAR(SZUL_DAT)=1990 AND MONTH(SZUL_DAT)>6
ORDER BY MONTH(SZUL_DAT)

NEV,EMAIL
Bodor Szabolcs,szabolcs.bodor@mail.hu
Bosnyák Ilona,ilona3@gmail.com
Szabó Julianna,julianna4@gmail.com
Berta Dávid,david4@gmail.com

In [24]:
SELECT szh.TIPUS, ROUND(COUNT(FOGLALAS_PK),-2) AS 'Foglalások száma'
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK=sz.SZOBA_ID JOIN Szallashely szh ON sz.SZALLAS_FK=szh.SZALLAS_ID
GROUP BY szh.TIPUS
HAVING ROUND(COUNT(FOGLALAS_PK),-2)<500

TIPUS,Foglalások száma
Apartman,100
vendégház,100
panzió,200

In [40]:
SELECT sz.*, szh.SZALLAS_NEV, 
    CASE szh.TIPUS 
        WHEN 'panzió' THEN 'Igen'
        ELSE 'Nem'
        END AS 'Panzió'
FROM Szoba sz JOIN Szallashely szh ON sz.SZALLAS_FK=szh.SZALLAS_ID FULL JOIN Foglalas f ON sz.SZOBA_ID=f.SZOBA_FK
WHERE sz.SZOBA_ID NOT IN (f.SZOBA_FK)